<br/>
<fieldset>
  <legend><font size=5> Configuração Data do Sistema</font></legend>
  <center><%= render 'form' %></center>
</fieldset>
<p><%= link_to 'Voltar', configurations_path, :class => 'botao3d' %></p>