<br/>
<p align="center"><b>Instrução para emitir ficha pessoal de pontuação</b></p>
<br/>
    <p align="center" style="color:blue"><b><%= @instrucao %></b></p>
<br/>

<p align="center"><b><%= link_to "Voltar", visaos_path %></b></p>